{% extends 'base.html' %}
{% block content %}
   <div>
       {% for el in todo_list %}
           <p>
               {{ el.title }}
               {% if el.completed %}
                   ✅
               {% else %}
                   ❌
               {% endif %}
           </p>
       {% endfor %}
   </div>
   <form method="post" action="{{ url_for('add_task') }}">
       <div class="mb-3">
           <label class="form-label">
               Rzecz do zrobienia
           </label>
           <input type="text" class="form-control" name="item_text">
       </div>
       <button type="submit" class="btn btn-primary mb-3">Dodaj do listy</button>
   </form>
{% endblock %}